---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);

interface Props {
  title: string;
  description?: string;
  }

  const { title, description = "Psicóloga profesional y escritora, dedicada a ayudar a las personas a mejorar sus relaciones de pareja y bienestar emocional con su libro: 'Trivialidades que afectan a las parejas'." } = Astro.props;
  
  // const {currentLocale} = Astro;
  // console.log({currentLocale});
---

  <!DOCTYPE html>
  <html lang={lang}> <!-- detecta automáticamente el idioma del buscador -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap" rel="stylesheet">

  </head>
  <body class="min-h-screen bg-gray-50 flex flex-col">
    <Header />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>